<div class="filter-container">
    <h2>Logs (620)</h2>

    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nivel de error</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-hint align="end">Nivel de error</mat-hint>
    </mat-form-field>
    
</div>