<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Projects</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let p of projects">{{p.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>