<!--<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Projects</mat-toolbar>
    <mat-nav-list>
      <div class="pitems" *ngFor="let p of projects">
        <a mat-list-item (click)=projectClick(p.id) [ngClass]="{'active': p.id === currentProject}">
          {{p.name}}
        </a>
        <span class="apikey">{{p.apiKey}}</span>
      </div>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

     Add Content Here 
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
-->

<mat-sidenav-container>

    <mat-sidenav #navigationSidenav [opened]="true" mode="side" role="navigation">
        <!-- <mat-nav-list dense> -->
        <mat-nav-list>
            <div class="title">
                <h2 matSubheader> {{ constants.PROJECTS }} </h2>
                <mat-icon class="material-icons addProject"  matTooltip="Add new project" (click)="openAddProjectDialog()" >add</mat-icon>
            </div>
            <ng-container *ngIf="projects">
                <a mat-list-item routerLink="/" style="height: 0;"></a>

                <div class="project-item" *ngFor="let item of projects">
                    <a mat-list-item [routerLink]="[item.route]" routerLinkActive="list-item-active">
                        <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
                        {{item.title}}
                    </a>
                    <mat-icon [cdkCopyToClipboard]="item.apiKey" matListIcon class="nav-list-icon-copy"
                        matTooltip="Copy app-key" matTooltipPosition="above">vpn_key</mat-icon>
                </div>

                <mat-divider></mat-divider>

            </ng-container>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>