@import '../../../../../styles.less';

.fixed-menu {
  height: @fixed-menu;
  position: fixed;
  top:0;
  z-index: 2;
}
.mat-sidenav-content {
  margin-top: @fixed-menu;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%; 
  .sidenav {
    width: 200px;
   
    .mat-toolbar {
      margin-top: 60px;
      background: inherit;
      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
        
      }
      
    }
  }
}
