@import '../../../../../styles.less';

.fixed-menu {
  height: @fixed-menu;
  position: fixed;
  top:0;
  z-index: 2;
}
.mat-sidenav-content {
  margin-top: @fixed-menu;
}

.spacer {
  flex: 1 1 auto;
}
.apikey {
      color: gainsboro;
      font-size: 9px;
      margin-left: 15px;
    }

.pitems{
  flex-direction: column;
  align-items: start;
}

.sidenav-container {
  height: 100%; 
  .sidenav {
    width: 200px;
   .mat-nav-list{
     .mat-list-item { 
       &.active {
         background: #fafafa;
       }
     }
   }
    .mat-toolbar {
      margin-top: 60px;
      background: inherit;
      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
}

.list-item-active {
  color: #f96a4f;
  background: rgba(0, 0, 0, 0.04);
}

.nav-list-icon {
  margin: 0 12px 0 12px;
}
.project-item{
    display: flex;
    justify-content: center;
    padding-right: 10px;
}
.nav-list-icon-copy{
    display: flex;
    align-self: center;
    color: darkgray;
    cursor: pointer;
}
.nav-list-icon-copy:active{
    color: #f96a4f;
}
.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-sidenav {
  padding-top: 65px;
}

.title{
    display: flex;
    color: darkgray;
    align-items: center;
    justify-content: space-between;
    .addProject{
        display: flex;
        width: 110px;
        padding-right: 8px;
        padding-bottom: 8px;
        cursor: pointer;

        span{
            padding-top: 2px;
            margin-left: 2px;
        }
    }
}
.delete-icon{
    color: #f96a4f;
}
.mat-icon-button{
    margin-top: 7px;
}