/.git
/swagger.json
/api/node_modules
/api/swagger.json
/ui/node_modules
/node_modules
/api/dist
/api/.env
/api/.env.prod
/log
/ui/package-lock.json
/api/package-lock.json
package-lock.json

/_integrations/.Net/bin/*
/_integrations/.Net/obj/*
/_integrations/Php/vendor/*
/_integrations/Nodejs/node_modules
/_integrations/Nodejs/.env