<div class="project-container">
    <div class="form-container">
        <form [formGroup]="projectForm" (submit)="submit()" class="form">
            <h2>Create Project</h2>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Name
                </mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="f.name.errors">{{getProjectNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>

            <mat-form-field class="example-chip-list">
                <mat-label>Status Log</mat-label>
                <mat-chip-list #chipList aria-label="Status Log">
                    <mat-chip *ngFor="let item of statusLog" [removable]="removable" (removed)="remove(item)">
                        {{item|titlecase}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Status... Press Enter" #statusInput formControlName="statusLog"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        autocomplete="off" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>

            <mat-divider></mat-divider>


            <button mat-raised-button type="button" class="button" (click)="addUrl()">Add new Url</button>

            <div class="url-content">
                <div class="url-list" *ngFor="let url of urlListArray.controls; index as i">
                    <ng-container [formGroup]="url" >
                        <mat-form-field appearance="fill">
                            <mat-label>Url {{i+1}}</mat-label>
                            <input formControlName="urlItem" matInput autocomplete="off">
                            <button mat-button *ngIf="urlListArray.controls.length > 1" matSuffix mat-icon-button aria-label="Clear" (click)="removeUrl(i)">
                                <mat-icon mat-list-icon >delete</mat-icon>
                              </button>
                            <mat-error *ngIf="url.invalid">This field is required</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
            <mat-error *ngIf="f.urlList.errors">The list cannot contain duplicate URLs</mat-error>

            <mat-divider></mat-divider>

            <mat-form-field class="form-field" appearance="fill">
                <mat-label> Select an type</mat-label>
                
                <mat-select [(value)]="selectedtype" formControlName="type">
                    <mat-option *ngFor="let item of typeProject" [value]="item">{{item.name |uppercase}}</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="projectForm.controls.type.errors">This field is mandatory.</span>
                </mat-error>    
            
                <!--<mat-chip-list #chipList aria-label="Status Log">
                    <mat-chip *ngFor="let item of typeProject" [removable]="removable" (removed)="remove(item)">
                        {{item.name | titlecase}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Status... Press Enter" #statusInput formControlName="statusLog"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        autocomplete="off" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>-->
            </mat-form-field>

            <div class="form-element">
                <button tabindex="0" mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!projectForm.valid" [mat-dialog-close]="true">Create</button>
                <button tabindex="0" mat-raised-button type="button" class="button"
                    [mat-dialog-close]="false">Cancel</button>
            </div>


        </form>
    </div>
</div>