<mat-card class="log-card">
    <mat-card-header>
      <div mat-card-avatar class="log-header-image"></div>
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Level - date</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        a;ldksfja;sdlfjas;dlfj as;dlfjas;df sdfasdfasdfas dfasdfasdf
        asdfasdfasdfa sdfasdfasdfasdfasdfas dfasdfasdfasdf asdfasdfasdfasdfasdfa sdfasdfasdfasdfasdfasdfasdf
        adsfasdfasdfasdf asdfasdfasdfa asdf asd fasdfa sd a asdf as ds a f a sdf ds f
      </p>
    </mat-card-content>
    <mat-card-footer>
        <label>footer</label>
    </mat-card-footer>
  </mat-card>