<div class="integration-screen">
    <div class="steps">
        <h1><strong> Step 1 :</strong> Create a <strong> Project Logs </strong> project</h1>
        <mat-card>
            <p>
                Before you can add <strong> Project Logs </strong> to your app, you need to create a new <strong> Project Logs </strong> project to connect to your app. Please in the left panel click on New Project.
            </p>
        </mat-card>
    </div>
    <div class="steps">
        <h1><strong>Step 2 :</strong> Copy AppKey</h1>
        <mat-card>
            <p>
                To connect your app with <strong> Project Logs </strong>, you need to copy the App key. Please in
                the left panel click <mat-icon class="icon">more_vert</mat-icon> and then copy App-key <mat-icon class="icon">vpn_key</mat-icon> 
            </p>
        </mat-card>
    </div>
    <h1><strong>Integrations Code</strong></h1>
    <div class="integration-code">
        <app-tabs></app-tabs>
    </div>
</div>