<div class="integration-screen">
    <div class="steps">
        <h1><strong> Step 1 :</strong> Create a <strong> Project Logs </strong> project</h1>
        <mat-card>
            <p>
                Before you can add <strong> Project Logs </strong> to your app, you need to create a new <strong>
                    Project Logs </strong> project to connect to your app. On the left menu you will see a link to
                create your projects.
            </p>
        </mat-card>
    </div>
    <div class="steps">
        <h1><strong>Step 2 :</strong> Copy AppKey</h1>
        <mat-card>
            <p>
                After you create the project you will need to get the api key in order to develop your integrations.
                On the left menu click <mat-icon class="icon">more_vert</mat-icon> and then App-key <mat-icon
                    class="icon">vpn_key</mat-icon>
            </p>
        </mat-card>
    </div>
    <div class="steps">
        <h1><strong>Logs type</strong></h1>
        <mat-card>
            <p>
                It's prossible to register <strong> Error</strong>,<strong> Warning</strong> or<strong> Info</strong> logs.
            </p>

            <div>
                <mat-chip-list class="mat-chip-list-stacked">
                    <p>
                        <mat-basic-chip selected class="chip-label error">Error</mat-basic-chip>
                        <strong>URL:  </strong><span>{{baseUrl}}logs/error</span>
                    </p>
                    <p>
                        <mat-basic-chip selected class="chip-label warning">Warning</mat-basic-chip>
                        <strong>URL:  </strong><span>{{baseUrl}}logs/warning</span>
                    </p>
                    <p>
                        <mat-basic-chip selected class="chip-label info">Info</mat-basic-chip>
                        <strong>URL:  </strong><span>{{baseUrl}}logs/info</span>
                    </p>

                </mat-chip-list>
            </div>


        </mat-card>
    </div>


    <h1><strong>Integrations Code</strong></h1>
    <div class="integration-code">
        <app-tabs></app-tabs>
    </div>
</div>