<mat-toolbar class="fixed-menu" color="primary">
    <mat-toolbar-row class="mat-toolbar-row">
        <div>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Logs</span>
        </div>
        <span class="spacer"></span>
        <span>{{username}}
            <mat-icon role="img" aria-hidden="false" aria-label="Example user verified icon"
                class="mat-icon notranslate example-icon material-icons mat-icon-no-color"
                (click)="logout()">
                verified_user</mat-icon>
        </span>
    </mat-toolbar-row>
</mat-toolbar>