<div class="filter-container">
    <div fxLayout="row">
        <mat-form-field fxFlex appearance="fill">
            <mat-label>Search</mat-label>
            <input (keyup)="onKey($event)" matInput [(ngModel)]="selectedkey">
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="selectedDateFrom" (dateChange)="selectedDates()">
                <input matEndDate placeholder="End date" [(ngModel)]="selectedDateTo" (dateChange)="selectedDates()" >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-date-range-picker #picker (dateChange)="selectedDates()"></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill" >
            <mat-label>Error level</mat-label>
            <mat-select (selectionChange)="filter()" [(value)]="selectedlevel" >
                <mat-option>All</mat-option>
                <mat-option *ngFor="let item of levelsCode" [value]="item"  >{{item |titlecase}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <button class="clear-filter" mat-raised-button (click)="clearFilter()">Clear Filter</button>


    </div>
</div>
