<div class="log-screen"  style="flex-direction: column;">
    <h2 class="log-count" fxFlex="none" *ngIf="logs">Logs ({{length}})</h2>
    <div class="log-table">
        <div class="log-table-header">
            <div class="log-table-column size-section action-region-section">
                <div class="select-region">
                    <div class="select-item-info level-indicator"></div>
                    <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
                    </mat-checkbox>
                </div>
                <div class="action-region" >
                    <div>
                        <button [disabled]="!(someComplete() || allComplete)" *ngFor="let item of project.typeLogStatus" button mat-raised-button (click)="setStatus(item)" >{{item|titlecase}}</button>
                </div>
            </div>
            <div class="log-table-column num-info"></div>
            <div class="log-table-column num-info"></div>
            <div class="log-table-column num-info"></div>
        </div>

    </div>
    <app-log-item *ngFor="let log of task.subtasks; let isEven = even" [even]=isEven [log]=log (allComplete)="updateAllComplete($event)"></app-log-item>
    <mat-paginator (page)="pageChange($event)" [length]="length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

</div>