.card-items-detail{
    display: flex;
    min-height: 45px;
    overflow: hidden;
    .item-left-noexpand{
        flex-grow: 2;
        max-height: 50px;
        
    }
    .item-left-expand{
        flex-grow: 2;
        min-height: 120px;
        max-height: 900px;
        
    }
    .stack, .info{
        padding-left: 20px;
    }
    .item-right{
        margin-right: 50px;
        
    }
    .expand_more {
        transition: ease all 0.3s;
    }
    .expand_more-collapsed {
        transform: rotate(180deg);
    }
}