<div class="card-items-detail">
    <div id="log-content"  [ngClass]="{'item-left-noexpand transition': !collapsed, 'item-left-expand transition': collapsed}">
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: column;" *ngIf="stack?.stack" (click)="changeCollapsed()">
            <b>Stack:</b>
            <p class="stack">{{stack.stack}}</p>
            <span><b>Code:</b> {{stack.code}}</span>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="info">
            <b>Info</b>
            <div class="info">
                <ngx-json-viewer [json]="info"></ngx-json-viewer>
            </div>
        </div>
        <div *ngIf="history.length>0">
            <mat-divider></mat-divider>
            <b>History</b>
            <div class="history-content">
                <div class="history"*ngFor="let item of history" >
                    <mat-label><strong>{{item.date | date: 'dd/MM/yyyy HH:mm:ss' }} </strong>- Update status from </mat-label>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-basic-chip selected class="chip-label info">{{item.fromStatus}}</mat-basic-chip>
                        <mat-label>to </mat-label>
                        <mat-basic-chip selected class="chip-label info">{{item.toStatus}}</mat-basic-chip>
                    </mat-chip-list>
                    <mat-label> by {{item.user|titlecase}}</mat-label>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </div>
    </div>
    <div class="item-right">
        <mat-icon [ngClass]="{'expand_more transition': !collapsed, 'expand_more-collapsed transition': collapsed}"
            (click)="changeCollapsed()">
            expand_more</mat-icon>
    </div>
</div>