@import '../../../../../styles.less';

.toolbar-title {
  margin: 0 16px 0 16px;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

mat-toolbar {
    //header height
  height: 112px;
  
  position: fixed;
  z-index: 2;
}
mat-toolbar-row{
    margin: auto;
}
img{
    width: 412px;   
}
.crm-navigation-bar{
    background-color:#A9C35E;
}
.white-icon{
    color: black;
}

.person{
    margin-right: 18px;
}