<div class="project-container">
  <div class="form-container">
    <form [formGroup]="projectForm" (submit)="submit()" class="form">
      <h2>Create Project</h2>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="projectForm.controls.name.touched && projectForm.controls.name.invalid">
          <span *ngIf="projectForm.controls.name.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> ApiKey
        </mat-label>
        <input matInput formControlName="apikey">
        <mat-error *ngIf="projectForm.controls.apikey.touched && projectForm.controls.apikey.invalid">
          <span *ngIf="projectForm.controls.apikey.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Type
        </mat-label>
        <input matInput formControlName="type">
        <mat-error *ngIf="projectForm.controls.type.touched && projectForm.controls.type.invalid">
          <span *ngIf="projectForm.controls.type.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button"
          [disabled]="!projectForm.valid">Create</button>
      </div>


    </form>
  </div>
</div>